@charset "UTF-8";
/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-300.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-600.svg#Inter") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-content {
  position: relative;
}

.header {
  width: 100%;
  padding: 36px 0px;
}
.header__inner {
  max-width: 1825px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items-left-w {
  max-width: 845px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link {
  height: 26px;
}
.header__nav-list {
  display: flex;
  list-style: none;
}
.header__nav-list-item {
  margin: 0px 12px;
}
.header__nav-item-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  text-decoration: none;
}
.header__nav-item-link:hover {
  color: blue;
  transition: all 0.3s ease;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__phone-w {
  display: flex;
  flex-direction: column;
  margin-right: 118px;
}
.header__phone {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
  text-decoration: none;
}
.header__callback {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1F2020;
  opacity: 0.3;
  text-decoration: none;
}
.header__user-items {
  display: flex;
  align-items: center;
  height: 22px;
}
.header__icon {
  margin-right: 26px;
  width: 22px;
  height: 22px;
}
.header__basket {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #7BB899;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header__basket-count {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}

.logo:hover circle {
  fill: #7BB899;
  transition: all 0.3s ease;
}
.logo:hover path {
  fill: #7BB899;
  transition: all 0.3s ease;
}

.description {
  width: 100%;
  min-height: 560px;
  background: url(../images/description-back.png) no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 32px 0px 39px 0px;
}
.description__inner {
  max-width: 1825px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.description__header {
  width: 100%;
  margin-bottom: 175px;
}
.description__nav-list {
  display: flex;
  list-style: none;
}
.description__nav-list-item {
  position: relative;
  margin-right: 19px;
}
.description__nav-list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #C4C4C4;
  border-radius: 50%;
  opacity: 0.3;
  left: -11px;
  top: 50%;
}
.description__nav-item-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.3;
  text-decoration: none;
}
.description__title {
  text-align: center;
  margin-bottom: 24px;
}
.description__text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.description__content-w {
  width: 100%;
  display: flex;
  justify-content: center;
}
.description__content {
  max-width: 472px;
  width: 100%;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.slider {
  position: relative;
  width: 472px;
  display: flex;
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Лента слайдов */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: flex;
}
.slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  font-size: 0;
  z-index: 10;
  cursor: pointer;
}
.slider .slick-prev {
  opacity: 0;
}
.slider .slick-next {
  position: absolute;
  width: 30px;
  height: 40px;
  right: -284px;
  border: none;
  background: url(../images/arrow-right.svg) no-repeat;
}
.slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -143px;
  left: 30%;
  transform: translateX(30%);
  width: 124px;
  height: 32px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}
.slider li {
  list-style: none;
  margin: 0px 4px;
  display: flex;
  align-items: center;
}
.slider li.slick-active button {
  opacity: 1;
}
.slider li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  border: none;
  opacity: 0.2;
  outline: none;
  cursor: pointer;
}

.products {
  width: 100%;
  padding: 72px 0px 142px 0px;
}
.products__inner {
  max-width: 1825px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.products__items {
  max-width: 1490px;
  width: 100%;
}
.products__header {
  max-width: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.products__count {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}
.products__select {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.products__select-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  margin-right: 5px;
}
.products__content {
  max-width: inherit;
  width: inherit;
}
.products__top {
  display: flex;
  justify-content: space-between;
}
.products__middle {
  display: flex;
  justify-content: space-between;
}
.products__bottom {
  display: flex;
  justify-content: space-between;
}

.product {
  max-width: 278px;
  width: 100%;
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product:hover .product__add {
  opacity: 1;
  transition: all 0.3s ease;
}
.product__img {
  max-width: 100%;
  height: auto;
}
.product__description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1F2020;
}
.product__items-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
}
.product__add {
  width: 80px;
  height: 32px;
  background: #7BB899;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}

.footer {
  width: 100%;
  height: 640px;
  background-color: #000000;
}

.checkbox-w {
  width: 170px;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}
.checkbox--js-active + .custom-checkbox {
  background: #7BB899;
}
.checkbox--js-active + .custom-checkbox::before {
  left: 20px;
  transition: all 0.2s ease-in;
}

.lable {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  background-color: transparent;
  border-radius: 40px;
  vertical-align: sub;
  margin-right: 12px;
}
.custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1F2020;
  top: 7px;
  left: 7px;
  border-radius: 50%;
}

.basket-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}
.basket-popup--js-open {
  opacity: 1;
  visibility: visible;
}
.basket-popup--js-open .basket-popup__body {
  right: 0;
  transition: all 0.3s ease;
}
.basket-popup__body {
  position: absolute;
  max-width: 600px;
  height: 100%;
  width: 100%;
  top: 0;
  right: -100%;
  background: #FFFFFF;
}
.basket-popup__body__inner {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */