@charset "UTF-8";
/* inter-300 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-300.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-regular - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-regular.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-500 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-500.svg#Inter") format("svg");
  /* Legacy iOS */
}
/* inter-600 - latin_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-latin_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-latin_cyrillic-600.svg#Inter") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body--js-toggle {
  overflow: hidden;
}

.burger-menu {
  width: 100%;
  height: 0;
  min-height: 0;
  opacity: 0;
  background-color: #7BB899;
  z-index: 92;
}
.burger-menu--js-open {
  position: fixed;
  height: 100%;
  opacity: 1;
  padding-top: 120px;
  overflow-y: hidden;
}
.burger-menu__inner {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
.burger-menu__header {
  display: flex;
}
.burger-menu__phone {
  display: flex;
  flex-direction: column;
}
.burger-menu__user-items {
  display: flex;
}
.burger-menu__nav-list {
  list-style: none;
}
.burger-menu__nav-list-item {
  margin-bottom: 25px;
}
.burger-menu__nav-item-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  text-decoration: none;
}

.wrapper-content {
  position: relative;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  padding: 36px 0px;
  background-color: #FFFFFF;
  z-index: 93;
}
.header--backg {
  background-color: bisque;
}
@media only screen and (max-width: 992px) {
  .header {
    padding: 20px 0px;
  }
}
.header__inner {
  max-width: 1825px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items-left-w {
  max-width: 845px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .header__items-left-w {
    justify-content: center;
  }
}
@media only screen and (max-width: 992px) {
  .header__items-left-w {
    max-width: none;
    width: 0;
  }
}
.header__logo-link {
  display: block;
  height: 26px;
}
.header__menu {
  padding: 0 15px;
}
@media only screen and (max-width: 992px) {
  .header__menu {
    display: none;
  }
}
.header__nav-list {
  min-width: 510px;
  width: 100%;
  display: flex;
  list-style: none;
}
.header__nav-list-item {
  margin: 0px 12px;
}
.header__nav-item-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  text-decoration: none;
}
.header__nav-item-link:hover {
  color: blue;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1498px) {
  .header__nav-item-link {
    font-size: calc(12px + 2 * (100vw - 992px) / 508);
  }
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__phone-w {
  min-width: 177px;
  display: flex;
  flex-direction: column;
  margin-right: 118px;
  padding: 0 10px;
}
@media only screen and (max-width: 1498px) {
  .header__phone-w {
    margin-right: calc(20px + 98 * (100vw - 1100px) / 400);
  }
}
@media only screen and (max-width: 992px) {
  .header__phone-w {
    display: none;
  }
}
.header .phone {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
  text-decoration: none;
}
@media only screen and (max-width: 1498px) {
  .header .phone {
    font-size: calc(14px + 2 * (100vw - 992px) / 508);
  }
}
.header .callback {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1F2020;
  opacity: 0.3;
  text-decoration: none;
}
.header__user-items {
  display: flex;
  align-items: center;
  height: 22px;
}
@media only screen and (max-width: 992px) {
  .header__user-items {
    display: none;
  }
}
.header .icon {
  margin-right: 26px;
  width: 22px;
  height: 22px;
}
@media only screen and (max-width: 1498px) {
  .header .icon {
    margin-right: calc(14px + 12 * (100vw - 800px) / 700);
  }
}
.header__basket {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #7BB899;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header__basket-count {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}

.logo:hover circle {
  fill: #7BB899;
  transition: all 0.3s ease;
}
.logo:hover path {
  fill: #7BB899;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1498px) {
  .logo {
    max-width: calc(110px + 21 * (100vw - 992px) / 508);
  }
}
@media only screen and (max-width: 992px) {
  .logo {
    max-width: calc(200px + 90 * (100vw - 568px) / 424);
  }
}

.phone {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
  text-decoration: none;
}
@media only screen and (max-width: 1498px) {
  .phone {
    font-size: calc(14px + 2 * (100vw - 992px) / 508);
  }
}

.callback {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #1F2020;
  opacity: 0.3;
  text-decoration: none;
}

.icon {
  margin-right: 26px;
  width: 22px;
  height: 22px;
}
@media only screen and (max-width: 1498px) {
  .icon {
    margin-right: calc(14px + 12 * (100vw - 800px) / 700);
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .burger {
    display: block;
  }
}
@media only screen and (max-width: 366px) {
  .burger {
    width: 26px;
    height: 22px;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1F2020;
}
.burger::before {
  top: 1px;
  left: 0;
}
.burger::after {
  bottom: 0;
  left: 0;
}
.burger__line-center {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1F2020;
  top: 50%;
  left: 0;
}
.burger--js-active::before {
  transform: rotate(-315deg);
  top: 48%;
  transition: all 0.2s linear;
}
.burger--js-active::after {
  transform: rotate(315deg);
  bottom: 39%;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 366px) {
  .burger--js-active::after {
    bottom: 42%;
  }
}
.burger--js-active .burger__line-center {
  transform: scale(0);
}

.description {
  width: 100%;
  height: 560px;
  background: url(../images/description-back.png) no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 32px 0px 39px 0px;
}
@media only screen and (max-width: 574px) {
  .description {
    height: 470px;
  }
}
.description__inner {
  max-width: 1825px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.description__header {
  width: 100%;
  margin-bottom: 175px;
}
@media only screen and (max-width: 574px) {
  .description__header {
    margin-bottom: 100px;
  }
}
.description__nav-list {
  display: flex;
  list-style: none;
}
.description__nav-list-item {
  position: relative;
  margin-right: 19px;
}
.description__nav-list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background: #C4C4C4;
  border-radius: 50%;
  opacity: 0.3;
  left: -11px;
  top: 50%;
}
.description__nav-item-link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.3;
  text-decoration: none;
}
.description__title {
  text-align: center;
  margin-bottom: 24px;
}
.description__text {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
@media only screen and (max-width: 574px) {
  .description__text {
    font-size: 14px;
  }
}
.description__content-w {
  width: 100%;
  display: flex;
  justify-content: center;
}
.description__content {
  max-width: 472px;
  width: 100%;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88%;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
@media only screen and (max-width: 574px) {
  .title {
    font-size: 50px;
  }
}

.slider {
  position: relative;
  width: 472px;
  display: flex;
  justify-content: center;
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Лента слайдов */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}
@media only screen and (max-width: 574px) {
  .slider {
    width: 320px;
  }
}
.slider .slick-initialized {
  display: none;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-track {
  display: flex;
}
.slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  font-size: 0;
  z-index: 5;
  cursor: pointer;
}
.slider .slick-prev {
  opacity: 0;
}
@media only screen and (max-width: 768px) {
  .slider .slick-prev {
    opacity: 1;
    position: absolute;
    width: 30px;
    height: 40px;
    left: -30px;
    border: none;
    background: url(../images/arrow-right.svg) no-repeat;
    transform: rotate(-178deg);
  }
}
.slider .slick-next {
  position: absolute;
  width: 30px;
  height: 40px;
  right: -284px;
  border: none;
  background: url(../images/arrow-right.svg) no-repeat;
}
@media only screen and (max-width: 1498px) {
  .slider .slick-next {
    right: -190px;
  }
}
@media only screen and (max-width: 992px) {
  .slider .slick-next {
    right: -130px;
  }
}
@media only screen and (max-width: 768px) {
  .slider .slick-next {
    right: -30px;
  }
}
.slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -143px;
  text-align: center;
  width: 124px;
  height: 32px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}
@media only screen and (max-width: 574px) {
  .slider .slick-dots {
    bottom: -100px;
  }
}
.slider li {
  list-style: none;
  margin: 0px 4px;
  display: flex;
  align-items: center;
}
.slider li.slick-active button {
  opacity: 1;
}
.slider li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  border-radius: 50%;
  border: none;
  opacity: 0.2;
  outline: none;
  cursor: pointer;
}

.products {
  width: 100%;
  padding: 72px 0px 142px 0px;
}
.products__inner {
  max-width: 1825px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .products__inner {
    flex-direction: column;
  }
}
.products__filter-checkbox {
  min-width: 165px;
}
@media only screen and (max-width: 992px) {
  .products__filter-checkbox {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .products__filter-checkbox {
    display: none;
  }
}
.products__items {
  max-width: 1520px;
  width: 100%;
  padding: 0 15px;
}
@media only screen and (max-width: 992px) {
  .products__items {
    padding: 0;
    max-width: 1490px;
    width: 100%;
  }
}
.products__header {
  max-width: inherit;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.products__filters-checkbox {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  text-decoration: none;
  display: none;
}
@media only screen and (max-width: 768px) {
  .products__filters-checkbox {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .products__checkbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .products__custom-checkbox {
    margin-right: 5px;
  }
}
.products__count {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}
@media only screen and (max-width: 768px) {
  .products__count {
    display: none;
  }
}
.products__filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.products__content {
  max-width: inherit;
  width: inherit;
  display: none;
  justify-content: center;
}
.products__content--js-visible {
  display: block;
}
@media only screen and (max-width: 768px) {
  .products__content {
    display: none;
  }
  .products__content--js-visible {
    display: flex;
  }
}
.products__row {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .products__row {
    flex-direction: column;
  }
  .products__row:not(:last-child) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 574px) {
  .products__row:last-child {
    display: none;
  }
  .products__row:nth-child(2) {
    margin-right: 0px;
  }
}

.filter {
  position: relative;
}
.filter__link {
  text-decoration: none;
  outline: none;
  display: flex;
  align-items: center;
}
.filter__name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  margin-right: 5px;
}

.filter-popup {
  width: 280px;
  position: absolute;
  z-index: 90;
  right: 0px;
  height: 0;
  min-height: 0;
  opacity: 0;
  visibility: hidden;
}
.filter-popup--js-toggle {
  height: auto;
  min-height: 20px;
  opacity: 1;
  visibility: visible;
}
.filter-popup__body {
  width: 280px;
  right: 10px;
}
.filter-popup__nav-list {
  width: 100%;
  background-color: #FFFFFF;
}
.filter-popup__nav-item {
  max-width: 280px;
  width: 100%;
  height: 48px;
  list-style: none;
}
.filter-popup__nav-item-link {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 17px 90px 17px 23px;
}
.filter-popup__nav-item-link--active {
  background-color: #7BB899;
  transition: all 0.3s ease;
}

.product {
  max-width: 278px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product:not(:last-child) {
  margin-right: 25px;
}
@media only screen and (max-width: 768px) {
  .product:not(:last-child) {
    margin-top: 15px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 992px) {
  .product:nth-child(5) {
    display: none;
  }
}
.product:hover .product__add {
  opacity: 1;
  transition: all 0.3s ease;
}
.product__img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.product__description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1F2020;
  margin-bottom: 24px;
}
.product__items-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
}
.product__add {
  width: 80px;
  height: 32px;
  background: #7BB899;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
}
@media only screen and (max-width: 992px) {
  .product__add {
    opacity: 1;
    width: 40px;
    height: 24px;
    right: 0px;
    background: #F2F2F2;
    border-radius: 6px;
  }
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
}

.checkbox-w {
  min-width: 170px;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}
.checkbox--js-active + .custom-checkbox {
  background: #7BB899;
}
.checkbox--js-active + .custom-checkbox::before {
  left: 20px;
  transition: all 0.2s ease-in;
}

.lable {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 22px;
  border-radius: 40px;
  vertical-align: sub;
  margin-right: 12px;
  background: #F2F2F2;
}
.custom-checkbox::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #1F2020;
  top: 7px;
  left: 7px;
  border-radius: 50%;
}

.basket-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 95;
}
.basket-popup--js-open {
  opacity: 1;
  visibility: visible;
}
.basket-popup--js-open .basket-popup__body {
  right: 0;
  transition: all 0.3s ease;
}
.basket-popup__body {
  position: absolute;
  max-width: 600px;
  width: 100%;
  min-height: 100%;
  padding: 32px 40px 40px 40px;
  top: 0;
  right: -100%;
  background: #FFFFFF;
}
@media only screen and (max-width: 574px) {
  .basket-popup__body {
    max-width: 400px;
  }
}
.basket-popup__inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket-popup__header {
  max-width: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.basket-popup__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 88%;
  letter-spacing: -0.04em;
  color: #1F2020;
}
.basket-popup__close {
  width: 48px;
  height: 48px;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-popup__content {
  max-width: inherit;
  width: inherit;
}
.basket-popup__content-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 12px;
}
.basket-popup__content-top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000000;
  opacity: 0.1;
  bottom: 0;
  right: 0;
}
.basket-popup__amount-products {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 112%;
  color: #1F2020;
}
.basket-popup__clear-products {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  color: #1F2020;
  opacity: 0.4;
  cursor: pointer;
}
.basket-popup__product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  margin-bottom: 12px;
}
.basket-popup__product::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000000;
  opacity: 0.1;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product {
    flex-direction: column;
  }
}
.basket-popup__product-img {
  max-width: 96px;
  width: 100%;
  height: 96px;
  margin-right: 8px;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product-img {
    margin: 0px 0px 10px 0px;
    max-width: 200px;
    width: 100%;
    height: 200px;
  }
}
.basket-popup__product-content {
  width: 220px;
  margin-right: 50px;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 20px 0px;
  }
}
.basket-popup__product-description {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1F2020;
  margin-bottom: 16px;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product-description {
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
}
.basket-popup__product-price {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
}
.basket-popup__product-amout-w {
  display: flex;
  align-items: center;
  margin-right: 45px;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product-amout-w {
    margin: 0;
  }
}
.basket-popup__product-minus {
  width: 40px;
  height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.basket-popup__product-amout {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
  margin: 0px 17px;
}
.basket-popup__product-plus {
  width: 40px;
  height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.basket-popup__product-delete {
  cursor: pointer;
  text-align: right;
}
@media only screen and (max-width: 574px) {
  .basket-popup__product-delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.basket-popup__footer {
  max-width: 520px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.basket-popup__price-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #1F2020;
}
.basket-popup__price {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #1F2020;
}
@media only screen and (max-width: 574px) {
  .basket-popup__price {
    font-size: 20px;
  }
}
.basket-popup__button {
  display: inline-block;
  width: 240px;
  height: 56px;
  background: #7BB899;
  border-radius: 4px;
  text-align: center;
  padding: 20px 0px;
  text-decoration: none;
}
@media only screen and (max-width: 574px) {
  .basket-popup__button {
    width: 170px;
    height: 35px;
    padding: 10px 0px 9px 0px;
  }
}
.basket-popup__button-name {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1F2020;
}

.popup-filter {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 60;
  visibility: hidden;
  opacity: 0;
}
.popup-filter--js-active {
  opacity: 1;
  visibility: visible;
}

.filter-products-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: flex-end;
}
.filter-products-popup--js-active {
  opacity: 1;
  visibility: visible;
}
.filter-products-popup__body {
  position: relative;
  padding: 54px 24px 114px 24px;
  width: 100%;
  height: 318px;
  background: #FFFFFF;
  border-radius: 24px 24px 0px 0px;
}
.filter-products-popup__body::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background: #1F2020;
  opacity: 0.6;
  border-radius: 40px;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.filter-products-popup__inner {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

svg {
  pointer-events: none;
}/*# sourceMappingURL=styles.css.map */