@import "fonts.scss";
@import "mixin.scss";
@import "reset.scss";


.wrapper-content {
   position: relative;
}

.header {
   width: 100%;
   padding: 36px 0px;

   &__inner {
      max-width: 1825px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__items-left-w {
      max-width: 845px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo-link {
      height: 26px;
   }

   &__menu {}

   &__nav {}

   &__nav-list {
      display: flex;
      list-style: none;
   }

   &__nav-list-item {
      margin: 0px 12px;
   }

   &__nav-item-link {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1F2020;
      text-decoration: none;

      &:hover {
         color: blue;
         transition: all 0.3s ease;
      }

   }

   &__contacts {
      display: flex;
      align-items: center;
   }

   &__phone-w {
      display: flex;
      flex-direction: column;
      margin-right: 118px;
   }

   &__phone {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #1F2020;
      text-decoration: none;
   }

   &__callback {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #1F2020;
      opacity: 0.3;
      text-decoration: none;
   }

   &__user-items {
      display: flex;
      align-items: center;
      height: 22px;
   }

   &__icon {
      margin-right: 26px;
      width: 22px;
      height: 22px;
   }

   &__search {}

   &__user {}

   &__heart {}

   &__basket {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: #7BB899;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
   }

   &__basket-count {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1F2020;


   }
}

.logo {
   &:hover circle {
      fill: #7BB899;
      transition: all 0.3s ease;
   }

   &:hover path {
      fill: #7BB899;
      transition: all 0.3s ease;
   }
}

.description {
   width: 100%;
   min-height: 560px;
   background: url(../images/description-back.png) no-repeat;
   background-size: cover;
   background-position: 50%;
   padding: 32px 0px 39px 0px;

   &__inner {
      max-width: 1825px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
   }

   &__header {
      width: 100%;
      margin-bottom: 175px;
   }

   &__menu {}

   &__nav {}

   &__nav-list {
      display: flex;
      list-style: none;
   }

   &__nav-list-item {
      position: relative;
      margin-right: 19px;

      &:not(:first-child)::before {
         content: '';
         position: absolute;
         width: 3px;
         height: 3px;
         background: #C4C4C4;
         border-radius: 50%;
         opacity: 0.3;
         left: -11px;
         top: 50%;
      }
   }

   &__nav-item-link {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 10px;
      line-height: 100%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #FFFFFF;
      opacity: 0.3;
      text-decoration: none;


   }


   &__title {
      text-align: center;
      margin-bottom: 24px;
   }

   &__text {

      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #FFFFFF;
   }


   &__content-w {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   &__content {
      max-width: 472px;
      width: 100%;
   }
}

.title {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 72px;
   line-height: 88%;
   letter-spacing: -0.02em;
   color: #FFFFFF;
}

.slider {
   position: relative;
   width: 472px;
   display: flex;

   & .slick-slider {}

   /* Слайдер запущен */
   & .slick-initialized {}

   /* Слайдер с точками */
   & .slick-dotted {}


   & .slick-list {
      overflow: hidden;
   }

   /* Лента слайдов */
   & .slick-track {
      display: flex;
   }



   /* Стрелка */

   & .slick-arrow {
      position: absolute;
      bottom: -50px;
      font-size: 0;
      z-index: 10;
      cursor: pointer;
   }

   /* Стрелка влево */
   & .slick-prev {
      opacity: 0;
   }

   /* Стрелка вправо */
   & .slick-next {
      position: absolute;
      width: 30px;
      height: 40px;
      right: -284px;
      border: none;
      background: url(../images/arrow-right.svg) no-repeat;
   }



   /* Стрелка не активная */
   & .slick-disabled {}

   /* Точки (булиты) */


   & .slick-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: -143px;
      left: 30%;
      transform: translateX(30%);
      width: 124px;
      height: 32px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 16px;

   }

   & li {
      list-style: none;
      margin: 0px 4px;
      display: flex;
      align-items: center;
   }

   /* Активная точка */
   & li.slick-active button {
      opacity: 1;
   }

   /* Элемент точки */
   & li button {
      font-size: 0;
      width: 6px;
      height: 6px;
      background: #FFFFFF;
      border-radius: 50%;
      border: none;
      opacity: 0.2;
      outline: none;
      cursor: pointer;
   }

}

.products {
   width: 100%;
   padding: 72px 0px 142px 0px;

   &__inner {
      max-width: 1825px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
   }



   &__items {
      max-width: 1490px;
      width: 100%;
   }

   &__header {
      max-width: inherit;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 44px;
   }

   &__count {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1F2020;
   }

   &__select {
      display: flex;
      align-items: center;
      cursor: pointer;
   }

   &__select-name {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      text-align: right;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #1F2020;
      margin-right: 5px;
   }



   &__content {
      max-width: inherit;
      width: inherit;
   }

   &__top {
      display: flex;
      justify-content: space-between;

   }

   &__middle {
      display: flex;
      justify-content: space-between;
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
   }
}

.product {
   max-width: 278px;
   width: 100%;
   height: 378px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   &:hover &__add {
      opacity: 1;
      transition: all 0.3s ease;
   }

   &__img {
      max-width: 100%;
      height: auto;
   }

   &__description {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      font-size: 16px;
      line-height: 112%;
      letter-spacing: 0.02em;
      color: #1F2020;

   }

   &__items-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__price {
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      color: #1F2020;
   }

   &__add {
      width: 80px;
      height: 32px;
      background: #7BB899;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      opacity: 0;
   }

}

.footer {
   width: 100%;
   height: 640px;
   background-color: #000000;

}

.checkbox-w {
   width: 170px;
}


.checkbox {
   width: 0;
   height: 0;
   opacity: 0;
   z-index: -1;

   &--js-active+.custom-checkbox {
      background: #7BB899;
   }

   &--js-active+.custom-checkbox::before {
      left: 20px;
      transition: all 0.2s ease-in;
   }
}

.lable {

   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #1F2020;
   display: flex;
   align-items: center;
   margin-bottom: 10px;
   cursor: pointer;
}

.custom-checkbox {
   position: relative;
   display: inline-block;
   width: 36px;
   height: 22px;
   background-color: transparent;
   border-radius: 40px;
   vertical-align: sub;
   margin-right: 12px;

   &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #1F2020;
      top: 7px;
      left: 7px;
      border-radius: 50%;
   }

}

.basket-popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
   top: 0;
   right: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;

   &--js-open {
      opacity: 1;
      visibility: visible;
   }

   &--js-open &__body {
      right: 0;
      transition: all 0.3s ease;
   }



   &__body {
      position: absolute;
      max-width: 600px;
      height: 100%;
      width: 100%;
      top: 0;
      right: -100%;
      background: #FFFFFF;

      &__inner {
         max-width: 520px;
         width: 100%;
         margin: 0 auto;
      }

      &__header {}

      &__title {}

      &__close {}

      &__content {}

      &__content-top {}

      &__amount-products {}

      &__clear-products {}

      &__products {}

      &__product {}

      &__progucts-img {}

      &__product-description {}

      &__product-amout-w {}

      &__product-minus {}

      &__product-amout {}

      &__product-plus {}

      &__product-delete {}

      &__footer {}
   }

   .product {

      &__description {}

      &__price {}
   }
}